<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <img src="https://imgur.com/s8cMcqV.jpeg" alt="logo">
    </nav>
    <a href="/">DASHBOARD</a>|
    <a href="/">CREATE</a>|
    <a href="/">FAVORITES</a>|
    <a href="/">SEARCH</a>|
    <a href="/">PROFILE</a>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
