<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a id="aNav" href="/">
            <img src="https://imgur.com/s8cMcqV.jpeg" alt="logo">
        </a>
        <a id="aNav" href="/posts">Newest Shoes</a> 
        <form action="/posts/search" method="GET">
            <input name="search" id="search" placeholder="Search Shoes">
        </form>
        <% if(user) { %>
            <a id="aNav" class="options" href="/posts/dashboard">Shoe Rack</a> |
            <a id="aNav" class="options" href="/posts/favorites">Favorite Shoes</a> |
            <a id="aNav" class="options" href="/posts/new">New Shoe</a> 
            <a id="aNav" class="loginAvatar" href="/profile">
                <img id="avatarNav" src="<%= user.avatar %>" referrerpolicy="no-referrer" alt="avatar">
            </a>
            <a class="login"href="/profile"><%= user.name%></a>
            <a id="aNav" href="/logout">LOG OUT</a>
        <% } else { %>
            <a href="/auth/google" class="login">LOG IN <img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
    </nav>

