<%- include('./partials/header') %>

<main id="landing">
  <section id="landing-bkg">
      <div id="landing-text">
        <h1><%= title %></h1>
        <h3>A place to share memories from your travels</h3>
      </div>
      </main>
  </section>

<%- include('./partials/footer') %>