* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
    "nav"
    "main"
    "footer"
}
body > nav {
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px 0 30px;
  background-color: rgb(150, 200, 217);
  color: whitesmoke;
}
.options {
  justify-content: left;
}
nav > img {
  object-fit: contain;
}
body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
}
nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
a {
  color: whitesmoke;
}
img {
  height: 100px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login img {
  height: 30px;
}
#avatarNav {
  border-radius: 50%;
  border: 5px solid red;
  scale: 0.50;
  margin-right: -75px;
}
#newShoe {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 500px 1fr 1fr;
  grid-template-areas:
    "imgUpload sidebar"
    "imgUpload sidebar"
    "imgUpload sidebar"
}
#imgUrl {
  grid-area: imgUpload;
  border: 5px solid grey;
  background-image: url('https://imgur.com/brw99fp.gif');
  background-size: cover;
}
#postInfo {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 5px solid grey;
}
label {
  align-self: center;
  justify-self: center;
  border: 2px solid grey;
}
#saveNew {
  grid-column-end: span 2;
}
#show-page {
  display: grid;
  justify-content: center;
  align-items: center;
}
#dash-post, #posts {
  border: 5px solid grey;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}