<%- include('../partials/header') %>

<main>
    <h1><%= title %></h1>
    <form id="newShoe" action="/posts" method="POST">
        <div id="imgUrl">
            <textarea id="imgUrlText" type="text" name="imgUrl" placeholder="Enter Image URL Here!"></textarea>
        </div>
        <div id="postInfo">
            <label>Add Title:</label>
            <textarea name="title"></textarea>
            <label for="">Add Description:</label>
            <textarea name="description"></textarea>
            <label for="">Add Location:</label>
            <textarea name="destination"></textarea>
            <input type="submit" id="saveNew" value="Hang that Shoe!">
        </div>
    </form>
</main>

<%- include('../partials/footer') %>